@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,100&display=swap');

// Variables
$main-bg-color: #110458;
$main-bg-color-large: #0a0330;
$main-txt-color: white;
$header-text-color: #ff00a1;
$header-color: #7904eb;

* {
  border: none;
  outline: none;
}

body {
  background-color: $main-bg-color;
  color: $main-txt-color;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px;

  img {
    z-index: 2;
  }

  .logout-btn {
    z-index: 2;
  }
}

.btn {
  background-color: white;
  height: 30px;
  width: 30px;
  border-radius: 6px;
  cursor: pointer;
}

.add-form {
  background-color: $main-bg-color-large !important;
}

.openSidebar {
  display: block !important;
}

.chat-box {
  position: relative;

  .chat-header {
    text-align: center;
    color: $header-text-color;
    font-size: 18px;
  }

  .chat-wrapper {
    .chat-content {
      height: 75vh;
      overflow: hidden;
      overflow-y: scroll;
      display: flex;
      flex-direction: column;

      &::-webkit-scrollbar {
        width: 5px;
      }

      &::-webkit-scrollbar-track {
        background-color: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 20px;
      }
    }
    .chat-input {
      position: absolute;
      width: 100%;

      .form-btn {
        background-color: white;
        height: 45px;
        width: 45px;
        border-radius: 8px;
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        .send {
          width: 70%;
        }
      }

      .type-area {
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 8px;
        height: 45px;
        position: relative;

        input {
          background-color: transparent;
          border: none;
          width: 77%;
          border-radius: 8px;
          height: 45px;
          font-size: 16px;
          padding: 0 20px;
          color: white;
          outline: none;

          &::placeholder {
            font-family: 'Montserrat', sans-serif;
          }
        }
      }
    }
  }
}

.message-container {
  margin: 0px 15px 25px 15px;

  .username {
    margin: 5px 5px;
    font-weight: bold;
  }

  .message-text {
    width: 100%;
    float: left;
    font-size: 1.1em;
  }

  .message {
    position: relative;
    background-color: #008080;
    border-radius: 8px;
    padding: 0px 20px;
    color: white;
    display: inline-block;
    max-width: 80%;
  }

  .message-time {
    position: absolute;
    bottom: -25px;
    right: 0;
    font-style: italic;
    font-size: 10px;

    .time {
      margin: 0;
    }
  }
}

.group-box {
  display: none;
  z-index: 1;
  position: absolute;
  right: 0;
  top: 0;
  background: $main-bg-color;
  height: 91.3vh;
  width: 200px;
  padding: 70px 25px 0 15px;
  box-shadow: 10px 10px 8px 10px black;

  .group-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    button {
      img {
        width: 100%;
      }
    }
  }

  .title {
    color: $header-text-color;
  }

  .group-item {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px 15px;
    width: 90%;
    border-radius: 7px;
    margin-bottom: 15px;
    cursor: pointer;

    h3 {
      font-size: 1em;
      margin: 0;
    }
  }
}

.intro {
  display: none;
}

.form-box {
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .form-header {
    text-align: center;
    color: $header-text-color;
    margin-bottom: 35px;
  }

  .auth-form {
    display: flex;
    flex-direction: column;
    width: 90%;

    label {
      margin-bottom: 10px;
    }

    input[type='text'],
    input[type='password'] {
      background-color: rgba(255, 255, 255, 0.2);
      padding: 10px 15px;
      border-radius: 7px;
      margin-bottom: 20px;
      border: none;
      outline: none;
      color: white;
      font-size: 16px;
    }

    .auth-form-btn {
      padding: 10px 15px;
      border-radius: 7px;
      border: none;
      outline: none;
      font-size: 16px;
      font-weight: bold;
      background-color: $header-color;
      color: white;
      margin-top: 20px;
      margin-bottom: 25px;
      cursor: pointer;
    }
  }
}

.alert {
  position: absolute;
  right: 20px;
  bottom: 20px;
  padding: 10px 20px;
  color: white;
  z-index: 20;
}

.alert-danger {
  background-color: red;
}

.alert-success {
  background-color: green;
}

@media (min-width: 1024px) {
  body {
    background-color: $main-bg-color-large;
  }

  .navbar {
    .ham {
      display: none;
    }

    .logout-btn {
      cursor: pointer;
    }
  }

  .main-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 40px;
  }

  .container {
    margin-right: auto; /* 1 */
    margin-left: auto; /* 1 */

    padding-right: 35px; /* 3 */
    padding-left: 35px; /* 3 */
  }

  .chat-box {
    background-color: $main-bg-color;
    border-radius: 15px;
    padding-bottom: 20px;
    margin-top: 20px;
    height: 85vh;

    .chat-input {
      position: absolute;
      bottom: 15px !important;
      left: 15px;
      width: calc(100% - 30px) !important;
    }

    .chat-wrapper {
      .chat-content {
        max-height: 70vh;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
      }
    }
  }

  .group-box {
    display: block;
    position: static;
    right: auto;
    top: auto;
    margin-top: 20px;
    background: $main-bg-color;
    border-radius: 15px;
    height: auto;
    width: inherit;
    padding: 0px 15px;
    box-shadow: none;

    h2 {
      font-size: 26px;
      color: $header-text-color;
    }

    .group-item {
      background-color: rgba(255, 255, 255, 0.2);
      padding: 10px 15px;
      width: 90%;
      border-radius: 7px;
      margin-bottom: 15px;

      h3 {
        font-size: 1.2em;
        margin: 0;
      }
    }
  }

  .form-box {
    background-color: $main-bg-color;
    border-radius: 15px;
    width: 400px;

    .form-header {
      text-align: center;
      color: $header-text-color;
      margin-bottom: 35px;
    }

    .auth-form {
      display: flex;
      flex-direction: column;
    }
  }

  .auth-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: center;
    align-items: center;

    .intro {
      display: block;
      margin-left: 50px;
      img {
        width: 40%;
      }

      .intro-text {
        font-size: 3em;
        font-weight: bold;
        width: 600px;
      }
    }
  }
}
